:root {
  --primary: rgb(110, 55, 7);
  --background: #fff;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: #fff;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(246, 55, 21, 0.8);
  border-bottom: 1px solid #af6565;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin: 16px;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburgermenu {
  display: none;
}

/* landing element */
.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../css/img/header\ Lombok\ Geni-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing::after

/* Media Queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 877px) {
  html {
    font-size: 62.5%;
  }
  #hamburgermenu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.5s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: rgb(54, 53, 53);
    display: block;
    margin: 1.5rem;
    padding: 10px;
    font-size: 12px;
  }
}
/* mobile */
@media (max-width: 425px) {
  html {
    font-size: 55%;
  }
}
